@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&family=Secular+One&display=swap');

/* 
  font-family: 'Poppins', sans-serif;
  font-family: 'Secular One', sans-serif;
*/

:root{
  --silver: #C4CED4;
  --lightgray: #a7a7a7;
  --darkgray: #525252;
  --black: #0F0E0E;
  --turquoise: #00B2A9;
  --fuchsia: #EF426F;
  --orange: #FF8200;
}

/* universal properties */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: var(--silver);
}
html{
  scroll-behavior: smooth;
}
body{
  background-color: var(--black);
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
  margin: 0;
}
p{
  color: var(--lightgray);
}
*::selection{
  background-color: var(--turquoise);
  color: var(--black);
}
small{
  font-size: .7rem;
}

/* universal properties end */

/* font sizes */
.fsize1{
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
}
.fsize2{
  font-size: 2.3rem;
  font-weight: 400;
}
.fsize3{
  font-size: 1.1rem;
  font-weight: normal;
}

/* flex properties */
.flex-r{
  display: flex;
  flex-direction: row;
}
.flex-c{
  display: flex;
  flex-direction: column;
}
/* flex end */


/* position properties */
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
.fixed{
  position: fixed;
}
.sticky{
  position: sticky;
}
/* position end */

/* keyframes */
@keyframes bgAnimation{
  0%{
    background-position: 0 85%;
  }
  50%{
    background-position: 100% 20%;
  }
  100%{
    background-position: 0% 85%;
  }
}
/* keyframes end */

#top{
  top: 0;
  left: 0;
}
#news{
  top: -35px;
  left: 0;
}

/* navigation bar */
nav.sticky{
  margin: auto;
  max-width: 1200px;
  height: 75px;
  background: var(--black);
  box-shadow: 0px 2px 3px #0f0e0e77;
  top: 0;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  z-index: 2;
}
.nav-container a{
  flex-grow: 1;
}
.spurs-logo{
  width: 50px;
}

.title-nav{
  align-items: center;
  justify-content: space-between;
}
.link-item{
  text-align: center;
  margin-inline: 10px;
}
.link-item a::after{
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  background-color: var(--lightgray);
  border-radius: 1px;
  bottom: -3px;
  left: 0px;
  transition: .2s;
}
.link-item a:hover::after{
  width: 100%;
}
.link-item a{
  color: var(--lightgray);
}
.link-item a:hover{
  color: var(--silver);
}

.store-container{
  padding-left: 10px;
}
a.store-button{
  padding: 2px 10px;
  font-weight: bolder;
  background-color: var(--silver);
  border: 2px solid var(--silver);
  border-radius: 15px;
  color: var(--black);
}
a.store-button:hover{
  background-color: var(--black);
  color: var(--silver);
}
/* navigation bar end */

/* header */
header{
  padding: 150px 0 200px 0;
  align-items: center;
  justify-content: center;
}

.hero-body{
  max-width: 700px;
  max-height: 350px;
  padding: 20px;
  border-radius: 5px;
  background: var(--black);
}
.hero-body::after{
  content: '';
  position: absolute;
  top:-5px;
  left:-5px;
  z-index: -2;
  width: 710px;
  height: 350px;
  background-image: 
  linear-gradient(
    60deg,
    var(--turquoise)33%,
    var(--fuchsia)66%,
    var(--orange));
  background-size: 400% 400%;
  animation: bgAnimation 4s infinite linear;
  overflow: hidden;
  border-radius: 8px;

}


.hero-body img{
  height: 300px;
}
.title-container>*{
  color: var(--silver);
}
.title-container{
  padding: 0 10px;
  align-items: left;
  justify-content: flex-start;
}
.title-body1,.title-body2,.title-body3{
  justify-content: space-between;
}
.header-title{
  font-weight: bolder;
  font-family: 'Secular One', sans-serif;
  background-image: 
    linear-gradient(
      60deg,
      var(--turquoise)33%,
      var(--fuchsia)66%,
      var(--orange));
  background-size: 400% 400%;
  animation: bgAnimation 4s infinite linear;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  line-height: 65px;
}
.title-body1 .header-title{
  font-size: 3rem;
}
.title-body2 .header-title{
  font-size: 4rem;
  letter-spacing: 2px;
}

.title-body2{
  justify-content: space-evenly;
}
.title-body3 .header-title{
  font-size: 3rem;
}

.hero-body p{
  font-size: 1rem;
  margin-block-start: 0;
  margin-block-end: 0;
  text-align: justify;
  padding-top: 10px;
}

.learnmore-button{
  bottom: -20px;
  right: 50px;
  font-weight: bolder;
  font-size: 1.5rem;
  background-image: 
    linear-gradient(
      60deg,
      var(--turquoise)33%,
      var(--fuchsia)66%,
      var(--orange));
  background-size: 400% 400%;
  animation: bgAnimation 4s infinite linear;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
}
.learnmore-padding{
  bottom: -20px;
  right: 40px;
  width: 172px;
  height: 50px;
  background: var(--black);
  z-index: 0;
}
/* header end */

/* news */
.news-container{
  margin: auto;
  max-width: 1200px;
  padding: 20px;
}
.news-container .section-title span:nth-child(2){
  display: inline-block;
  color: var(--turquoise);
  margin-left: 10px;
}

.section-title::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  top: 0;
  background: var(--turquoise);
}
.section-title::after{
  content: '';
  position: absolute;
  width: 50px;
  height: 5px;
  top: 2px;
  background: var(--turquoise);
}

/* top news article */
.article-container{
  padding: 20px 20px 100px 20px;
  height: auto;
  margin-bottom: 60px;
}

.article-container::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background: var(--darkgray);
}

.article-title{
  margin-bottom: 40px;
}
.article-date{
  color: var(--darkgray);
  margin-right: 10px;
}
.article-author a{
  color: var(--turquoise);
}
.article-author a:hover{
  color: #02fff2;
}

.article-image img{
  width: 400px;
  padding-right: 20px;
}
.article-body small{
  color: var(--darkgray);
}

.article-content p{
  margin-bottom: 15px;
  text-align: justify;
}
.read-more-container{
  justify-content: flex-end;
  text-align: end;
}
.read-more-container a{
  color: var(--turquoise);
}
.read-more-container a:hover{
  color: #02fff2;
}
/* top news end */

/* game recaps */
.recap-container{
  width: 100%;
  padding: 20px 20px 120px 20px;
  align-items: center;
}
.section-title2 span:nth-child(2){
  display: inline-block;
  color: var(--turquoise);
  margin-left: 10px;
}
.recap1{
  max-width: 1000px;
  isolation: isolate;
  overflow: hidden;
  margin-bottom: 40px;
}
.recap1::before{
  content: '';
  position: absolute;
  inset: 0;
  background: 
    linear-gradient(
      180deg,
      rgb(0 0 0 / 0),
      rgb(0 0 0 / 1)
    );
}
.recap1 img{
  width: 100%;
}

.recap1 span{
  font-weight: bolder;
  bottom: 0;
  left: 0;
  padding: 0 20px;
  z-index: 1;
}

.recap-button{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--silver);
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  visibility: hidden;
  transition: visibility .1s linear;
}
.recap1:hover .recap-button{
  visibility: visible;
  color: var(--silver);

}
/* game recaps end */

/* featured */
.featured-container{
  margin: auto;
  max-width: 1200px;
  padding: 20px;
}
.featured-container .section-title span:nth-child(1){
  display: inline-block;
  color: var(--fuchsia);
  margin-right: 10px;
}

.featured-container .section-title::before, .featured-container .section-title::after{
  background-color: var(--fuchsia);
}

.featured-container img{
  width: 100%;
  margin-bottom: 10px;
}
.history-container{
  max-width: 1200px;
  padding: 20px 20px 100px;
}
.history-content{
  padding-right: 20px;
}
.history-content p{
  padding-inline: 20px;
  text-align: justify;
}
.history-content .read-more-container a{
  padding-right: 20px;
  color: var(--fuchsia);
}
.history-content .read-more-container a:hover{
  color: #ff7096;
}
.history-image{
  align-items: center;
  justify-content: center;
}
.history-image img{
  width: 350px;
}

.jersey-title1,.jersey-title2{
  display: block;
  margin: auto;
  text-align: center;
  font-weight: lighter;
  font-size: 1.5rem;
  letter-spacing: -1px;

}
.jersey-title1{
  padding-inline: 120px;
}
.jersey-title2{
  padding-inline: 120px;
}
.jersey-title3{
  text-align: center;
  margin: 40px auto 100px;
  font-size: 1.8rem;
  font-weight: bold;
  padding-inline: 120px;
}


.jersey-details{
  width: 100%;
  margin-bottom: 100px;
  padding-inline: 20px;
}
.jersey-details > *{
  width: 50%;
}
.jersey-details .image-left{
  justify-content: flex-end;
  padding-right: 40px;
}
.jersey-details .image-left img{
  max-width: 400px;
  margin-bottom: 0;
}
.content-left{
  align-items: flex-end;
}
.content-left span{
  width: 380px;
}
.content-left .line{
  width: 380px;
  height: 3px;
  background-color: var(--fuchsia);
  margin-bottom: 5px;
}
.content-left p{
  width: 380px;
}

.jersey-details .image-right img{
  max-width: 400px;
  margin-bottom: 0;
  padding-left: 40px;
}
.content-right .line{
  width: 380px;
  height: 3px;
  background-color: var(--fuchsia);
  margin-bottom: 5px;
}
.content-right p{
  width: 380px;
}

/* carousel */
.carousel-container{
  padding-inline: 20px;
  justify-content: center;
  padding-block: 60px 120px;
}
.carousel-body{
  padding: 5px;
  border-radius: 5px;
  background-image: url(images/background-pattern.png);
  width: 50%;
  background-size: 100%;
}
.carousel-item img{
  max-width: 100%;
  margin: auto;
}
.carousel-description{
  align-items: flex-end;
  width: 50%;
  bottom: 130px;
  padding: 20px 40px;
  text-align: center;
  justify-content: center;
}
.carousel-body::after{
  content: '';
  position: absolute;
  inset: 0;
  background: 
    linear-gradient(
      180deg,
      rgb(0 0 0 / 0)20%,
      rgb(0 0 0 / 1)
    );
}
a.subscription-link b{
  color: var(--fuchsia);
}
a.subscription-link b:hover{
  color: #ff7096;
}
.shop span{
  margin-bottom: 10px;
}

a.shop-button{
  width: 240px;
  border-radius: 15px;
  padding-block: 8px;
  box-shadow: 0px 0px 10px var(--darkgray);
  color: var(--black);
  background-image: 
    linear-gradient(
      60deg,
      var(--turquoise)33%,
      var(--fuchsia)66%,
      var(--orange));
  background-size: 400% 400%;
  animation: bgAnimation 4s infinite linear;
  font-size: 1.2rem;
  font-weight: bolder;
  align-self: center;
}
a.shop-button:hover{
  color: var(--silver);
}
/* featured end */

/* schedule */
.schedule-container{
  max-width: 1200px;
  height: auto;
  padding: 20px;
  margin-inline: auto;
  margin-bottom: 120px;
}
.schedule-container .section-title span:nth-child(2){
  display: inline-block;
  color: var(--orange);
  margin-left: 10px;
}
.schedule-container .section-title::before, .schedule-container .section-title::after{
  background-color: var(--orange);
}
.schedule-body{
  width: 100%;
  margin: auto;
  padding: 20px;
}
.schedule-body img{
  max-width: 100%;
  margin: auto;
}
.schedule-body small{
  text-align: center;
  color: var(--darkgray);
}
/* schedule end */

/* community */
.community-container{
  max-width: 1200px;
  height: 500px;
  padding: 20px;
  margin-inline: auto;
}
.community-container .section-title span:nth-child(1){
  display: inline-block;
  color: var(--darkgray);
  margin-right: 10px;
}
.community-container .section-title::before, .community-container .section-title::after{
  background-color: var(--darkgray);
}

.contributor-body{
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
}
.contributor{
  padding: 20px ;
  margin-bottom: 20px;
}

.contributor img{
  max-width: 180px;
  border-radius: 50%;
  background-color: var(--darkgray);
}
.contributor .profile{
  padding-left: 40px;
  min-width: 300px;
}
.profile > * {
  margin-bottom: 10px;
}
.profile .name{
  font-size: 1.5rem;
  font-weight: bolder;
}
.profile .role{
  font-size: 1.2rem;
  color: var(--lightgray);
}
.profile .address{
  color: var(--darkgray);
}
.profile .social a{
  font-size: 1.5rem;
  margin-right: 30px
}
.social .fa-facebook:hover{
  color: #3b5998 ;
  transition: .2s;
}
.social .fa-twitter:hover{
  color: #1DA1F2 ;
  transition: .2s;
}
.social .fa-linkedin-in:hover{
  color: #0077b5;
  transition: .2s;
}
.social .fa-youtube:hover{
  color: #FF0000;
  transition: .2s;
}
.join-community{
  padding: 30px;
  max-width: 800px;
  align-self: center;
  text-align: center;
}
.join-community .pitch{
  font-size: 1.3rem;
  font-weight: lighter;
  margin-bottom: 10px;
}
.join-community .join-button{
  align-self: center;
  padding: 10px 20px;
  max-width: 200px;
  border-radius: 20px;
  border: 2px solid var(--silver);
  background-color: var(--silver);
  color: var(--black);
  font-weight: bolder ;

}

.join-button:hover{
  background-color: var(--black);
  color: var(--silver);
}






/* breakpoints */
@media all and (min-width: 840px){

}